body {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #efefef;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.app-container {
  padding: 20px;
  max-width: 375px;
}

.render-stats {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 555px) {
  .render-stats {
    position: fixed;
    bottom: 25px;
    right: 0;
    padding: 5px;
    z-index: 2;
    background-color: rgba(200, 250, 200, 0.7);
  }
}

.render-stats ul {
  all: unset;
}

.render-stats li {
  all: unset;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

footer {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  background-color: floralwhite;
  width: 100%;
  text-align: center;
  border: 1px dashed #333;
  border-block-end: none;
  max-width: 580px;
}

h1 {
  font-size: 1.5em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-block-end: 10px;
}

.select-wrapper {
  display: flex;
  gap: 10px;
  margin-block-end: 10px;
}

.hint {
  font-size: 0.8em;
  color: #666;
}
