:root {
  /*--r-background-color: #efefef;*/
}

iframe {
  border: 2px dashed #666;
}

.reveal ul {
  margin: 0;
}

.side-by-side {
  display: inline-flex;
  align-items: center;
}

.margin-inline-start {
  margin-inline-start: 30px;
}

.small-list {
  all: unset;
}

.small-text {
  font-size: 0.9em;
}

.text-align-start {
  text-align: start;
}

.small-list li {
  font-size: 0.5em;
  list-style-type: none;
}
